$bgColorPrimary: #181818;
$bgColorSecondary: #212121;
$borderColor1: rgba(249, 249, 249, 0.08);
$borderColor2: #27ae60;
$activeBtnBgColor: rgba(249, 249, 249, 0.08);
$activeBtnBgColorHover: rgba(249, 249, 249, 0.04);
$activeBtnTextColor: #fff;
$inactiveBtnTextColor: #ccc;
